body {
	font-family: 'VT323', monospace;

	background-image: url(../imagens/fundo-site.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	color: #f3f3f3;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 30px;
}

.cartao {
	background-color: #070d12;
	width: 370px;
	border: 2px solid #e126d9;
	border-radius: 10px;
	overflow: hidden;
}

.cartao .minhas-informacoes {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.cartao .minhas-informacoes img {
	border-radius: 50px;
	border: 4px solid #02d08f;
}

.cartao .minhas-informacoes .nome {
	font-size: 26px;
}

.cartao .minhas-informacoes .cargo {
	font-size: 20px;
	color: #b8bbc5;
}

.cartao .conteudo {
	margin-top: 15px;
}

.cartao .abas {
	display: flex;
}

.cartao .abas .aba {
	width: 50%;
	display: flex;
	justify-content: center;
	padding: 10px 0;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.cartao .abas img {
	max-width: 30px;
}

.cartao .abas .aba.selecionado {
	background-color: #262626;
}

.cartao .abas .aba:hover {
	background-color: #414141;
}

.informacoes-abas {
	background-color: #262626;
}

.informacoes-abas .informacao {
	padding: 15px;
	min-height: 260px;
	display: none;
}

.informacoes-abas .sub-titulo {
	font-size: 22px;
	margin-bottom: 25px;
	text-align: center;
}

.informacoes-abas .descricao {
	font-size: 20px;
	max-height: 180px;
	overflow-y: auto;
	padding-right: 15px;
}

.informacoes-abas .informacao.selecionado {
	display: block;
}

.informacao .descricao span {
	color: #02d08f;
}

.redes-sociais {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	max-height: 180px;
	overflow-y: auto;
}

.redes-sociais li a {
	background-color: #02d08f;
	width: 250px;
	display: block;
	color: #f3f3f3;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	transition: opacity 0.3s ease-in-out;
}

.redes-sociais .curriculo {
	background: #06c185;
}

.redes-sociais .linkedin {
	background: #1d87bd;
}

.redes-sociais .github {
	background: #545454;
}

.redes-sociais a:hover {
	opacity: 0.8;
}