:root{      
    --cor-texto: #b8bbc5;
    --cor-cartao: #070d12;
    --cor-fundo-conteudo: #262626;
    
    --cor-primaria: #e126d9;
    --cor-secundaria: #02d08f;

    --cor-rolagem-primaria: #e228d8;
    --cor-rolagem-secundaria: #070d12;    
}
